body {
font-family: Verdana, Helvetica, sans-serif;
color:#444444;
height:100%;
}

a:link {color:#4B2EDE;text-decoration:none;}      /* unvisited link */
a:visited {color:#4B2EDE;text-decoration:none;}  /* visited link */
a:hover {color:#9D90DC;text-decoration:none;}  /* mouse over link */
a:active {color:#FFA04D;text-decoration:none;}  /* selected link */


#content {
width:800px;
margin-left:auto;
margin-right:auto;
font-size:14px;
}

#githublink {
position:absolute;
top:5px;
right:5px;
}


#title {
text-align:center;
font-size:34px;
margin-top:15px;
margin-bottom:0px;
}


#subtitle {
text-align:center;
font-size:16px;
margin-top:10px;
margin-bottom:5px;
}


div.heading {
font-size:18px;
margin-top:50px;
margin-bottom:15px;
}


#scaleinfo, #chordinfo {
text-align:center;
margin-top:30px;
margin-bottom:15px;
}

select {
padding: 5px 8px;
/*border: solid 1px #444444;*/
box-shadow: none;
background: transparent;
background-image: none;
font-size: 12px;
overflow: hidden;
}

#progdiv {
margin-top:20px;
margin-bottom:0px;
}

#progtable {
border:none;
border-collapse:collapse;
margin: 0 auto 0 auto;
}

#progtable tr#divider {
border-bottom:solid 1px #444444;
}

#progtable td {
min-width:50px;
}

#progtable td.label {
min-width:75px;
}

#progselectors {
margin-bottom:30px;
}


#footer {
margin-left:auto;
margin-right:auto;
margin-top:50px;
width:100%;
padding-bottom:5px;
text-align:center;
color:#A0A0A0;
font-size:9pt;
}